<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<title>Add Flight</title>
	<object th:include="fragment/fragment :: css" th:remove="tag"></object>
	<object th:include="fragment/fragment :: js" th:remove="tag"></object>
</head>
	
<body>
	<nav th:replace="fragment/fragmentAddPilot :: navbar"></nav>
	<div class="container-fluid">
	<h2>Hello!</h2>
		
	<h3>Tambah Penerbangan</h3>
	<form th:action="@{/flight/add}" th:objects="${flight}" method="POST">
		<table border = "1">
				<caption>Flights</caption>
				<thead>
					<tr>
						<th style ="text-align: center">Flight Number</th>
						<th style ="text-align: center">Origin</th>
						<th style ="text-align: center">Destination</th>
						<th style ="text-align: center">Time</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="flight,iterationStatus : *{pilotFlight}">
						<td>
							<input type="text" name="flightNumber" />
						</td>
						<td>
							<input type="text" name="origin" />
						</td>
						<td>
							<input type="text" name="destination" />
						</td>
						<td>
							<input type="text" name="time" />
						</td>
					</tr>
				</tbody>
			</table>
			<button type="submit">Add Flight</button>
	</form>
	</div>
</body>
	
</html>